@import '../../lesshat/build/lesshat.less';
@import '../global_vars/vars.less';

.menu__top {
	background: #f7f7f7;
	height: 40px;
	line-height: 40px;
	padding: 0 10px 0 15px;
	position: absolute;
	bottom: -20px;
	min-width: 975px;
	text-align: center;
}

.menu__top a {
	color: #5c7b98;
	display: inline-block;
	padding: 0 16px 0 16px;
	text-decoration: none;
	

	&:hover {
		background: #dce6f0;
	}
}