@font-face {
  font-family: 'elektra_light_proregular';
  src: url('../fonts/elektra_light_pro-webfont.eot');
  src: url('../fonts/elektra_light_pro-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/elektra_light_pro-webfont.woff2') format('woff2'), url('../fonts/elektra_light_pro-webfont.woff') format('woff'), url('../fonts/elektra_light_pro-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'elektra_light_probold';
  src: url('../fonts/font-webfont.eot');
  src: url('../fonts/font-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/font-webfont.woff2') format('woff2'), url('../fonts/font-webfont.woff') format('woff'), url('../fonts/font-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* backgraound */
/* colors */
/* size */
/* line-height */
/* fonts */
/* header */
.menu__top {
  -webkit-box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.15);
  background: #f7f7f7;
  border-bottom: 1px solid #e3e3e3;
  height: 40px;
  line-height: 40px;
  position: absolute;
  bottom: -20px;
  min-width: 1000px;
  text-align: center;
}
.menu__top a {
  color: #5c7b98;
  display: inline-block;
  padding: 0 18px;
  text-decoration: none;
  position: relative;
}
.menu__top a:after {
  background: url('../img/sprite.png') -159px -40px no-repeat;
  display: block;
  content: '';
  position: absolute;
  right: -13px;
  top: 0;
  z-index: 20;
  width: 15px;
  height: 40px;
}
.menu__top a:last-child:after,
.menu__top a:hover:after,
.menu__top a:before {
  background-image: none;
  display: block;
  content: '';
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-left: 13px solid #dce6f0;
  border-bottom: 20px solid transparent;
  position: absolute;
  top: 0;
  right: -13px;
}
.menu__top a:last-child:after {
  background-image: none;
  border-left-color: #f7f7f7;
  right: -13px;
}
.menu__top a:hover:last-child:after {
  border-left-color: #dce6f0;
}
.menu__top a:first-child:before,
.menu__top a:before {
  border-top: 20px solid transparent;
  border-left: 13px solid #f7f7f7;
  border-bottom: 20px solid transparent;
  right: auto;
  left: -1px;
}
.menu__top a:first-child:before {
  background: url("../img/sprite.png") -173px -113px no-repeat transparent;
  border: 0;
  height: 41px;
  left: -3px;
  top: 2px;
  width: 13px;
}
.menu__top a:hover:first-child:before {
  background: url("../img/sprite.png") 7px -161px no-repeat transparent;
  left: -8px;
  height: 40px;
  width: 27px;
}
.menu__top a:hover {
  background: #dce6f0;
}
.menu__top a:hover:before {
  display: block;
}
.menu__top a.active,
.menu__top a.active:before {
  background-color: #00b9fe;
  color: #FFF;
}
.menu__top a.active:after {
  background-image: none;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-left: 13px solid #dce6f0;
  border-bottom: 20px solid transparent;
  border-left-color: #00b9fe;
}
