@font-face {
  font-family: 'elektra_light_proregular';
  src: url('../fonts/elektra_light_pro-webfont.eot');
  src: url('../fonts/elektra_light_pro-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/elektra_light_pro-webfont.woff2') format('woff2'), url('../fonts/elektra_light_pro-webfont.woff') format('woff'), url('../fonts/elektra_light_pro-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'elektra_light_probold';
  src: url('../fonts/font-webfont.eot');
  src: url('../fonts/font-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/font-webfont.woff2') format('woff2'), url('../fonts/font-webfont.woff') format('woff'), url('../fonts/font-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* backgraound */
/* colors */
/* size */
/* line-height */
/* fonts */
/* header */
.icon {
  background: transparent url("../img/sprite.png") -20px -20px no-repeat;
  display: inline-block;
  font: 0px/0 a;
  margin: 0 10px 0 0;
  overflow: hidden;
  position: relative;
  vertical-align: baseline;
  width: 10px;
  height: 10px;
}
.icon_caret {
  background-position: 0 -136px;
  position: absolute;
  margin: 2px 0 0 -12px;
  width: 7px;
  height: 9px;
}
.download__link {
  width: 90px;
  height: 32px;
}
.download__link.appstore {
  background-position: 0 0;
}
.download__link.google_play {
  background-position: -100px 0;
}
.share__link {
  display: inline-block;
  margin: 0 8px 0 0;
  width: 43px;
  height: 44px;
}
.share__link.vk {
  background-position: 0 -32px;
}
.share__link.facebook {
  background-position: -54px -32px;
}
.share__link.twitter {
  background-position: -108px -32px;
}
.icon__phone {
  background-position: -128px -82px;
  margin: 0 5px 0 0;
  width: 22px;
  height: 28px;
}
.icon__address {
  background-position: -88px -82px;
  margin: 0 5px 0 0;
  width: 22px;
  height: 27px;
}
.icon__basket {
  background-position: -165px -88px;
  margin: 0 17px 0 0;
  top: 8px;
  width: 23px;
  height: 23px;
}
.page3 .wrap__head {
  border-top: 44px solid #44626e;
}
.page3 .wrap__head .share {
  position: absolute;
  top: -35px;
}
.page3 .wrap__head .share__link {
  width: 27px;
  height: 25px;
}
.page3 .wrap__head .share__link.vk {
  background-position: -72px -126px;
}
.page3 .wrap__head .share__link.facebook {
  background-position: -104px -126px;
}
.page3 .wrap__head .share__link.twitter {
  background-position: -135px -126px;
}
.page3 .content {
  margin: 0 0 70px;
}
.page3 .contact__shop {
  right: auto;
  left: 0;
}
.page3 .contact__link {
  color: #FFF;
  position: absolute;
}
.page3 .contact__link:first-child {
  font-size: 13px;
  left: 377px;
  right: auto;
  top: -69px;
  width: 360px;
}
.page3 .contact__link:first-child .icon__address {
  top: 5px;
}
.page3 .contact__link:last-child {
  font-size: 25px;
  top: -58px;
  left: 810px;
  font-style: normal;
  width: 210px;
}
.page3 header .panel {
  position: absolute;
  top: 35px;
  left: 606px;
  width: 400px;
}
.page3 header .panel .list__item {
  float: left;
  line-height: 42px;
  height: 42px;
  margin: 0 0 0 21px;
}
.page3 header .panel .list__item:last-child {
  background: #FFF;
  border: 1px solid #dce6f0;
  border-bottom: 0;
  padding: 0 18px 0 10px;
}
.page3 header .panel .list__link {
  font-size: 13px;
  line-height: 13px;
}
.page3 header .panel .list__link:hover {
  color: #613993;
}
.page3 header .panel .list__item:last-child .list__link:hover {
  color: #5c7b98;
}
.page3 .wish__list {
  background: #FFF;
  border: 1px solid #dce6f0;
  width: 244px;
  position: absolute;
  top: 77px;
  right: -1px;
}
.page3 .wish__list .list__item {
  border-top: 1px solid #f1f5f9;
  padding: 12px 10px;
}
.page3 .wish__list .list__item:first-child {
  border-top: 0;
}
.page3 .wish__list .list__item:hover {
  background: #f8fafb;
}
.page3 .wish__list .list__photo__link,
.page3 .wish__list .list__title {
  display: table-cell;
  vertical-align: top;
}
.page3 .wish__list .list__photo__link {
  padding: 0 12px 0 0;
  text-align: center;
  vertical-align: middle;
  width: 60px;
}
.page3 .wish__list .list__photo__link img {
  vertical-align: middle;
}
.page3 .wish__list .list__title {
  font-weight: normal;
  vertical-align: middle;
}
.page3 .wish__list .list__title__link {
  font-size: 13px;
  line-height: 20px;
}
.page3 .intro {
  overflow: hidden;
}
.page3 .intro__title {
  margin: 0 0 15px;
}
.page3 .intro h2 + p {
  width: 300px;
}
.page3 .intro p {
  float: left;
  margin: 0 28px 0 0;
  width: 315px;
}
.page3 .intro p:last-child {
  margin: 0;
  width: 320px;
}
.product {
  clear: both;
  margin: 0 0 25px;
  overflow: hidden;
}
.product .list__item {
  width: 770px;
}
.product .list__photo {
  float: left;
  width: 300px;
}
.product .list__title,
.product .dl {
  margin: 0 0 35px 311px;
}
.product .list__title {
  color: #00b9fe;
  font-size: 25px;
  line-height: 25px;
}
.product .dt,
.product .dd {
  height: 28px;
  line-height: 28px;
  margin: 0;
}
.product .dt {
  float: left;
  padding: 0 0 0 10px;
  width: 245px;
}
.product .dl__item:nth-child(even) {
  background: #eef2f4;
}
.product .product__list {
  margin: 24px 0 0;
  padding: 0 29px;
  overflow: hidden;
  position: relative;
  width: 242px;
}
.product .product__list .product__link {
  float: left;
  margin: 0 5px 0 0;
  width: 75px;
  height: 75px;
}
.product .product__list .product__wrap {
  width: 100000px;
}
.product .product__control {
  background: #d0e4f3;
  color: #5c7b98;
  cursor: pointer;
  font: 17px/35px 'elektra_light_probold', Arial, Helvetica, sans-serif;
  margin: -17px 0 0;
  position: absolute;
  text-decoration: none;
  top: 50%;
  text-align: center;
  width: 15px;
  height: 34px;
}
.product .product__control.left {
  left: 8px;
}
.product .product__control.right {
  right: 14px;
}
.product .product__list .left:before,
.product .product__list .right:before {
  border-bottom: 17px solid transparent;
  border-right: 8px solid #d0e4f3;
  border-top: 17px solid transparent;
  content: '';
  display: block;
  height: 0;
  left: -8px;
  top: 0;
  position: absolute;
  width: 0;
}
.product .product__list .right:before {
  border-right: 0;
  border-left: 8px solid #d0e4f3;
  left: auto;
  right: -8px;
}
.product .product__control:hover {
  background: #00b9fe;
}
.product .icon__left,
.product .icon__right {
  margin: 0;
  background-position: -60px -125px;
}
.product .icon__right {
  background-position: -45px -138px;
}
.but__up {
  background-position: 0 -83px;
  color: #FFF;
  font: 18px Arial, sans-serif;
  line-height: 39px;
  text-align: center;
  width: 77px;
  height: 39px;
}
