@import '../../lesshat/build/lesshat.less';
@import '../global_vars/vars.less';
@import '../content/icons.less';

.page3 {
	
	.wrap__head {
		border-top: 44px solid #44626e;

		.share {
			position: absolute;
			top: -35px;
		}

		.share__link {
			.size(27,25);
		}

		.share__link.vk {
		  background-position: -72px -126px;
		}

		.share__link.facebook {
		  background-position: -104px -126px;
		}

		.share__link.twitter {
		  background-position: -135px -126px;
		}
	}

	.content {
		margin: 0 0 70px;	
	}



	.contact__shop {
		right: auto;
		left: 0;
	}

	.contact__link {
		color: #FFF;
		position: absolute;
	}

	.contact__link:first-child {
		font-size: 13px;
		left: 377px;
		right: auto;
		top: -69px;
		width: 360px;

		.icon__address {
			top: 5px;
		}
	}

	.contact__link:last-child {
		font-size: 25px;
		top: -58px;
		left: 810px;
		font-style: normal;
		width: 210px;
	}

	header {
		.panel {
			position: absolute;
			top: 35px;
			left: 606px;
			width: 400px;

			.list__item {
				float: left;
				line-height: 42px;
				height: 42px;
				margin: 0 0 0 21px;
			}

			.list__item:last-child {
				background: #FFF;
				border: 1px solid #dce6f0;
				border-bottom: 0;
				padding: 0 18px 0 10px;
			}

			.list__link {
				font-size: 13px;
				line-height: 13px;
				&:hover {
					color: #613993;
				}
			}

			.list__item:last-child .list__link:hover {
				color: #5c7b98;
			}
		}
	}

	.wish__list {
		background: #FFF;
		border: 1px solid #dce6f0;
		width: 244px;
		position: absolute;
		top: 77px;
		right: -1px;

		.list__item {
			border-top: 1px solid #f1f5f9;
			padding: 12px 10px;
		}

		.list__item:first-child {
			border-top: 0;
		}

		.list__item:hover {
			background: #f8fafb;
		}

		.list__photo__link,
		.list__title {
			display: table-cell;
			vertical-align: top;
		}

		.list__photo__link {
			padding: 0 12px 0 0;
			text-align: center;
			vertical-align: middle;
			width: 60px;

			img {
				vertical-align: middle;
			}
		}

		.list__title {
			font-weight: normal;
			vertical-align: middle;
		}
		
		.list__title__link {
			font-size: 13px;
			line-height: 20px;
		}

	}

	.intro {
		overflow: hidden;

		&__title {
			margin: 0 0 15px;
		}

		h2 + p {
			width: 300px;
		}

		p {
			float: left;
			margin: 0 28px 0 0;
			width: 315px;
		}

		p:last-child {
			margin: 0;
			width: 320px;
		}

	}
	
}

.product {
	clear: both;
	margin: 0 0 25px;
	overflow: hidden;

	.list__item {
		width: 770px;
	}

	.list__photo {
		float: left;
		width: 300px;
	}

	.list__title,
	.dl {
		margin: 0 0 35px 311px;
	}

	.list__title {
		color: #00b9fe;
		font-size: 25px;
		line-height: 25px;
	}
	
	.dt,
	.dd {
		height: 28px;
		line-height: 28px;
		margin: 0;
	}

	.dt {
		float: left;
		padding: 0 0 0 10px;
		width: 245px;
	}

	
	.dl__item:nth-child(even) {
		background: #eef2f4;
	}

	.product__list {
		margin: 24px 0 0;
		padding: 0 29px;
		overflow: hidden;
		position: relative;
		width: 242px;

		.product__link {
			float: left;
			margin: 0 5px 0 0;
			.size(75px,75px);
		}

		.product__wrap {
			
			width: 100000px;
		}
	}

	.product__control {
		background: #d0e4f3;
		color: #5c7b98;
		cursor: pointer;
		font: 17px/35px 'elektra_light_probold', Arial, Helvetica, sans-serif;
		margin: -17px 0 0;
		position: absolute;
		text-decoration: none;
		top: 50%;
		text-align: center;
		.size(15px,34px);
	}

	.product__control.left {
		left: 8px;
	}

	.product__control.right {
		right: 14px;
	}


	.product__list .left:before, 
	.product__list .right:before {
		border-bottom: 17px solid transparent;
		border-right: 8px solid #d0e4f3;
		border-top: 17px solid transparent;
		content: '';
		display: block;
		height: 0;
		left: -8px;
		top: 0;
		position: absolute;
		width: 0;
	}

	.product__list .right:before {
		border-right: 0;
		border-left: 8px solid #d0e4f3;
		left: auto;
		right: -8px;
	}

	.product__control {
		&:hover {
			background: #00b9fe;
		}
	}

	.icon__left,
	.icon__right {
		margin: 0;
		background-position: -60px -125px;
	}

	.icon__right {
		background-position: -45px -138px;
	}
}

.but__up {
	background-position: 0 -83px;
	color: #FFF;
	font: 18px Arial, sans-serif;
	line-height: 39px;
	text-align: center;
	.size(77px,39px);
}

