@import '../../lesshat/build/lesshat.less';
@import '../global_vars/vars.less';
@import '../content/icons.less';

.page3 {
	
	.wrap__head {
		border-top: 44px solid #44626e;

		.share {
			position: absolute;
			top: -35px;
		}

		.share__link {
			.size(27,25);
		}

		.share__link.vk {
		  background-position: -72px -126px;
		}

		.share__link.facebook {
		  background-position: -104px -126px;
		}

		.share__link.twitter {
		  background-position: -135px -126px;
		}
	}

	.content {
		margin: 0 0 70px;	
	}



	.contact__shop {
		right: auto;
		left: 0;
	}

	.contact__link {
		color: #FFF;
		position: absolute;
	}

	.contact__link:first-child {
		font-size: 13px;
		left: 377px;
		right: auto;
		top: -69px;
		width: 360px;

		.icon__address {
			top: 5px;
		}
	}

	.contact__link:last-child {
		font-size: 25px;
		top: -58px;
		left: 810px;
		font-style: normal;
		width: 210px;
	}

	header {
		.panel {
			position: absolute;
			top: 35px;
			left: 606px;
			width: 400px;

			.list__item {
				float: left;
				line-height: 42px;
				height: 42px;
				margin: 0 0 0 21px;
			}

			.list__item:last-child {
				background: #FFF;
				border: 1px solid #dce6f0;
				border-bottom: 0;
				padding: 0 18px 0 10px;
			}

			.list__link {
				font-size: 13px;
				line-height: 13px;
				&:hover {
					color: #613993;
				}
			}

			.list__item:last-child .list__link:hover {
				color: #5c7b98;
			}
		}
	}

	.intro {
		overflow: hidden;

		&__title {
			margin: 0 0 15px;
		}

		h2 + p {
			width: 300px;
		}

		p {
			float: left;
			margin: 0 28px 0 0;
			width: 315px;
		}

		p:last-child {
			margin: 0;
			width: 320px;
		}

	}
	
}

.but__up {
	background-position: 0 -83px;
	color: #FFF;
	font: 18px Arial, sans-serif;
	line-height: 39px;
	text-align: center;
	.size(77px,39px);
}