@font-face {
  font-family: 'elektra_light_proregular';
  src: url('../fonts/elektra_light_pro-webfont.eot');
  src: url('../fonts/elektra_light_pro-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/elektra_light_pro-webfont.woff2') format('woff2'), url('../fonts/elektra_light_pro-webfont.woff') format('woff'), url('../fonts/elektra_light_pro-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'elektra_light_probold';
  src: url('../fonts/font-webfont.eot');
  src: url('../fonts/font-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/font-webfont.woff2') format('woff2'), url('../fonts/font-webfont.woff') format('woff'), url('../fonts/font-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* backgraound */
/* colors */
/* size */
/* line-height */
/* fonts */
/* header */
.icon {
  background: transparent url("../img/sprite.png") -20px -20px no-repeat;
  display: inline-block;
  font: 0px/0 a;
  margin: 0 10px 0 0;
  overflow: hidden;
  position: relative;
  vertical-align: baseline;
  width: 10px;
  height: 10px;
}
.icon_caret {
  background-position: 0 -136px;
  position: absolute;
  margin: 2px 0 0 -12px;
  width: 7px;
  height: 9px;
}
.download__link {
  width: 90px;
  height: 32px;
}
.download__link.appstore {
  background-position: 0 0;
}
.download__link.google_play {
  background-position: -100px 0;
}
.share__link {
  display: inline-block;
  margin: 0 8px 0 0;
  width: 43px;
  height: 44px;
}
.share__link.vk {
  background-position: 0 -32px;
}
.share__link.facebook {
  background-position: -54px -32px;
}
.share__link.twitter {
  background-position: -108px -32px;
}
.icon__phone {
  background-position: -128px -82px;
  margin: 0 5px 0 0;
  width: 22px;
  height: 28px;
}
.icon__address {
  background-position: -88px -82px;
  margin: 0 5px 0 0;
  width: 22px;
  height: 27px;
}
.icon__basket {
  background-position: -165px -88px;
  margin: 0 17px 0 0;
  top: 8px;
  width: 23px;
  height: 23px;
}
.page3 .wrap__head {
  border-top: 44px solid #44626e;
}
.page3 .wrap__head .share {
  position: absolute;
  top: -35px;
}
.page3 .wrap__head .share__link {
  width: 27px;
  height: 25px;
}
.page3 .wrap__head .share__link.vk {
  background-position: -72px -126px;
}
.page3 .wrap__head .share__link.facebook {
  background-position: -104px -126px;
}
.page3 .wrap__head .share__link.twitter {
  background-position: -135px -126px;
}
.page3 .content {
  margin: 0 0 70px;
  position: relative;
}
.page3 .contact__shop {
  right: auto;
  left: 0;
}
.page3 .contact__link {
  color: #FFF;
  position: absolute;
}
.page3 .contact__link:first-child {
  font-size: 13px;
  left: 377px;
  right: auto;
  top: -69px;
  width: 360px;
}
.page3 .contact__link:first-child .icon__address {
  top: 5px;
}
.page3 .contact__link:last-child {
  font-size: 25px;
  top: -58px;
  left: 810px;
  font-style: normal;
  width: 210px;
}
.page3 header .panel {
  position: absolute;
  top: 35px;
  left: 606px;
  width: 400px;
}
.page3 .panel .list__item {
  float: left;
  line-height: 42px;
  height: 42px;
  margin: 0 0 0 21px;
}
.page3 .panel .list__item_basket {
  border: 1px solid transparent;
  border-bottom: 0;
  padding: 0 18px 0 10px;
}
.page3 .panel .list__item_basket .icon {
  visibility: hidden;
}
.page3 .panel .list__item_basket:hover,
.page3 .panel .list__item_basket.active {
  background: #FFF;
  border: 1px solid #dce6f0;
}
.page3 .panel .list__item_basket:hover .icon,
.page3 .panel .list__item_basket.active .icon {
  visibility: visible;
}
.page3 .panel .list__link {
  font-size: 13px;
  line-height: 13px;
}
.page3 .panel .list__link:hover {
  color: #613993;
}
.page3 .panel .list__link:focus {
  outline: none;
}
.page3 .panel .list__item:last-child .list__link:hover {
  color: #5c7b98;
}
.page3 .intro {
  overflow: hidden;
}
.page3 .intro__title {
  margin: 0 0 15px;
}
.page3 .intro h2 + p {
  width: 300px;
}
.page3 .intro p {
  float: left;
  margin: 0 28px 0 0;
  width: 315px;
}
.page3 .intro p:last-child {
  margin: 0;
  width: 320px;
}
.but__up {
  background-position: 0 -83px;
  color: #FFF;
  cursor: pointer;
  display: none;
  font: 18px Arial, sans-serif;
  line-height: 39px;
  text-align: center;
  right: -100px;
  position: absolute;
  bottom: -50px;
  top: auto;
  width: 77px;
  height: 39px;
}
