@font-face {
  font-family: 'elektra_light_proregular';
  src: url('../fonts/elektra_light_pro-webfont.eot');
  src: url('../fonts/elektra_light_pro-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/elektra_light_pro-webfont.woff2') format('woff2'), url('../fonts/elektra_light_pro-webfont.woff') format('woff'), url('../fonts/elektra_light_pro-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'elektra_light_probold';
  src: url('../fonts/font-webfont.eot');
  src: url('../fonts/font-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/font-webfont.woff2') format('woff2'), url('../fonts/font-webfont.woff') format('woff'), url('../fonts/font-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* backgraound */
/* colors */
/* size */
/* line-height */
/* fonts */
/* header */
.form__call {
  background: #f4f6f9;
  margin: 0 0 15px;
  padding: 15px 13px;
}
.form__call .h2 {
  margin: 0 0 20px;
}
.form__call .form__group {
  margin: 0 0 15px;
  position: relative;
}
.form__call .form__group:last-child {
  margin: 0;
}
.form__call label {
  line-height: 30px;
}
.form__call input[type="text"],
.form__call textarea {
  border: 1px solid #dfe5ee;
  color: #5c7b98;
  font-size: 12px;
  float: right;
  line-height: 12px;
  height: auto;
  padding: 8px 5px 3px;
  width: 118px;
}
.form__call input[type="text"]::-webkit-input-placeholder,
.form__call textarea::-webkit-input-placeholder {
  color: #dae1eb;
}
.form__call input[type="text"]:-moz-placeholder,
.form__call textarea:-moz-placeholder {
  color: #dae1eb;
}
.form__call input[type="text"]::-moz-placeholder,
.form__call textarea::-moz-placeholder {
  color: #dae1eb;
}
.form__call input[type="text"]:-ms-input-placeholder,
.form__call textarea:-ms-input-placeholder {
  color: #dae1eb;
}
.form__call textarea {
  float: none;
  padding: 10px 8px;
  min-height: 45px;
  width: 186px;
}
.form__call .btn {
  background: #dae1eb;
  border: 0;
  color: #FFF;
  font: 15px/15px 'elektra_light_probold', Arial, Helvetica, sans-serif;
  padding: 0;
  width: 90px;
  height: 35px;
}
.form__call .btn:hover {
  background: #00b9fe;
  color: #FFF;
}
.form__call .btn.btn__active {
  background: #00b9fe;
  color: #FFF;
}
.form__call .btn__group {
  position: absolute;
  width: 48px;
  height: 24px;
}
.form__call .btn__group_date {
  top: 0;
  left: 95px;
}
.form__call .btn__group_month {
  top: 0;
  left: 156px;
}
.form__call .dropdown__toggle {
  background-color: #FFF;
  border: 1px solid #d9e1eb;
  color: #dae1eb;
  font-size: 11px;
  text-align: left;
  position: relative;
  width: 48px;
  height: 24px;
}
.form__call .dropdown__toggle .icon_caret {
  background-position: -17px -128px;
  background-color: #00b9fe;
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  z-index: 10;
  width: 23px;
  height: 23px;
}
.form__call .dropdown__menu {
  background: #FFF;
  border: 1px solid #dae1eb;
  border-top: 0;
  position: relative;
  z-index: 100;
}
.form__call .dropdown__menu li:first-child {
  padding: 5px 0 0;
}
.form__call .dropdown__menu a {
  display: block;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  color: #5c7b98;
  padding: 0 4px;
  text-decoration: none;
}
