@font-face {
  font-family: 'elektra_light_proregular';
  src: url('../fonts/elektra_light_pro-webfont.eot');
  src: url('../fonts/elektra_light_pro-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/elektra_light_pro-webfont.woff2') format('woff2'), url('../fonts/elektra_light_pro-webfont.woff') format('woff'), url('../fonts/elektra_light_pro-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'elektra_light_probold';
  src: url('../fonts/font-webfont.eot');
  src: url('../fonts/font-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/font-webfont.woff2') format('woff2'), url('../fonts/font-webfont.woff') format('woff'), url('../fonts/font-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* backgraound */
/* colors */
/* size */
/* line-height */
/* fonts */
/* header */
.wrap_foot {
  background: url("../img/pattern.jpg") repeat;
  width: 100%;
}
footer {
  margin: 0 auto;
  position: relative;
  width: 1000px;
  height: 238px;
}
footer .share {
  position: absolute;
  right: 45px;
  top: 130px;
}
footer .logo {
  position: absolute;
  top: 100px;
}
footer .download {
  position: absolute;
  right: 0;
  top: 72px;
}
.footer__menu {
  position: absolute;
  top: 60px;
  left: 260px;
}
.footer__menu .wrap__inner {
  float: left;
  margin: 0 66px 0 0;
}
.footer__menu .h5,
.footer__menu .list__link {
  color: #FFF;
  font-size: 15px;
  line-height: 15px;
  margin: 0 0 12px;
}
.footer__menu .list__item {
  margin: 0 0 9px;
  line-height: 15px;
}
