@font-face {
  font-family: 'elektra_light_proregular';
  src: url('elektra_light_pro-webfont.eot');
  src: url('elektra_light_pro-webfont.eot?#iefix') format('embedded-opentype'), url('elektra_light_pro-webfont.woff2') format('woff2'), url('elektra_light_pro-webfont.woff') format('woff'), url('elektra_light_pro-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'elektra_light_probold';
  src: url('font-webfont.eot');
  src: url('font-webfont.eot?#iefix') format('embedded-opentype'), url('font-webfont.woff2') format('woff2'), url('font-webfont.woff') format('woff'), url('font-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* backgraound */
/* colors */
/* size */
/* line-height */
/* fonts */
/* header */
body {
  background: #ffffff;
  color: #5c7b98;
  font: 14px/20px 'elektra_light_proregular', Arial, Helvetica, sans-serif;
}
a {
  color: #00b9fe;
  font-size: 15px;
}
h2 {
  font: 25px/25px 'elektra_light_probold', Arial, Helvetica, sans-serif;
}
h3 {
  font-size: 15px;
}
