@font-face {
  font-family: 'elektra_light_proregular';
  src: url('../fonts/elektra_light_pro-webfont.eot');
  src: url('../fonts/elektra_light_pro-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/elektra_light_pro-webfont.woff2') format('woff2'), url('../fonts/elektra_light_pro-webfont.woff') format('woff'), url('../fonts/elektra_light_pro-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'elektra_light_probold';
  src: url('../fonts/font-webfont.eot');
  src: url('../fonts/font-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/font-webfont.woff2') format('woff2'), url('../fonts/font-webfont.woff') format('woff'), url('../fonts/font-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* backgraound */
/* colors */
/* size */
/* line-height */
/* fonts */
/* header */
.form__find {
  margin: 0;
  position: absolute;
  top: 36px;
  left: 260px;
}
.form__find .form__group {
  position: relative;
  width: 339px;
}
.form__find .form__group input[type="text"] {
  border: 1px solid #dbe5ef;
  color: #5c7b98;
  font-size: 15px;
  line-height: 15px;
  padding: 9px 85px 9px 9px;
  width: 254px;
}
.form__find .form__group input[type="text"]::-webkit-input-placeholder {
  color: #dce6f0;
}
.form__find .form__group input[type="text"]:-moz-placeholder {
  color: #dce6f0;
}
.form__find .form__group input[type="text"]::-moz-placeholder {
  color: #dce6f0;
}
.form__find .form__group input[type="text"]:-ms-input-placeholder {
  color: #dce6f0;
}
.form__find .form__group input[type="submit"] {
  background: #00b9fe;
  border: 0;
  color: #FFF;
  font-size: 17px;
  top: 1px;
  position: absolute;
  right: -10px;
  width: 80px;
  height: 35px;
}
